<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drinkup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PollAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimationTheme">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanQREventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPollActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".AddEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".EventsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PollManager"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>